<div class="container">
  <p><%= @vehicle.name %> <%= @vehicle.pts %></p>
  <p><%= @vehicle.gos_num %> <%= @vehicle.pts_date %></p>
  <% if @vehicle.vehicle_attachments.any? %>
  	<div class="all_images">
  		<% @vehicle.vehicle_attachments.each do |img| %>
  			<%= image_tag(img.image_url, class: "img_preview") %>
  		<% end %>
    	</div>
  <% end %>
</div>

<%= render 'form' %>