<div class="container">
	<table class="table table-bordered">
		<tr>
			<th>#</th>
			<th>Наименование</th>
			<th>Гос. номер</th>
			<th>ПТС</th>
			<th>Дата ПТС</th>
			<th>Фото</th>
			<th><%= link_to 'Новый', new_vehicle_path %></th>
		</tr>
		<tr>
		<% @vehicles.each do |vehicle| %>
			<tr>
				<td><%= vehicle.id %></td>
				<td><%= vehicle.name %></td>
				<td><%= vehicle.gos_num %></td>
				<td><%= vehicle.pts %></td>
				<td><%= vehicle.pts_date %></td>
				<td>
					<% if vehicle.vehicle_attachments.any? %>
						<p> &#9745; </p>
					<% else %>
						<p> &#9744; </p>
					<% end %>
				</td>
				<td><%= link_to 'Удалить', vehicle_path(vehicle), method: :delete %> | <%= link_to 'Редактировать', edit_vehicle_path(vehicle) %></td>
			</tr>
		<% end %>
		<tr>
			<td> Всего: <%= Vehicle.count %> </td>
		</tr>
	</table>
</div>